.box{
    border: 1px solid;
    width: 280px;
    height: 60px;
    display: flex;
    flex-direction: row;

}

.left{
    background-color: lightpink;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.right{
    background-color: lightblue;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.row2{
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    
}

