body{
    padding: 20px;
}

.box{

    height: 240px;
    width: 480px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    
   
}

.profile-img{
   
}

.content{
    
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
}

.title{
    /* background-color: aliceblue; */

}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.user-id{
   color: rgb(112, 112, 112);
   font-weight: normal;

}
.status{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.post-link{
   
    border: 0.5px solid rgba(128, 128, 128, 0.355);
    margin-top: 10px;
    border-radius: 12px;
    height: 90px;
    width: 348px;
    display: flex;
   
    
}

img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.thumbnail{
   
    border: none;
    background-color: rgb(200, 200, 200);
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px ;
    width:150px;
    margin-right: 8px;
    
    
}

.video-info{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}

.youtube-link{
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 6px;
    color: rgb(90, 89, 89);
    
}

.video-title{
    margin-left: 6px;
}