div{

    padding-left: 34%;
    padding-top: 10%;
}

img{
    display: block;
    padding-left: 12%;

}




.search-Gbar{
    font-size: 16px;
    width: 480px;
    height: 28px;
    border-radius: 54px;
    border-width: 1px;
    margin-top: 20px;
    border: none;
    border-color: darkgray;
    padding-left: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.154);

}
