p{
    font-family: Arial;
    margin: 6px;
}
.price{
    font-size: 30px;
    font-weight: medium;
}
.currency{
    color: gray;
    font-size: 16px;
    font-weight: medium;
}

.change{
    color: green;
    font-size: 16px;
}

.After-hours{
    color: rgb(96,96,96);
}
.After-hours-change{
    color:rgb(227,65,64)
}