.div1{
    height: 180px;
    width: 180px;
    background-color: red;
    border: none;
    display: inline-block;
    margin-right: 20px;
}

.div2{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-color: green;
    border: none;
    display: inline-block;
    
}