body{
    margin: 0px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
    width: 200px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    color: white;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
   
    
    
    
}
.search-bar{
    padding: 10px;
    padding-left: 18px;
   
    width: 400px;
    border: none;
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 40px;
    
}



button{
   
    width: 100px;
    border: 1px solid;
    background: transparent;
    color: white;
    padding: 8px;
    padding-right: 16px;
    border-radius: 3px;
}
