.container{
    background-color: rgba(240, 248, 255, 0.52);
    border: 1px solid black;
    width: 440px;
    height: 350px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.153) ;
    margin: 40px;

  
}

.container:hover{
    background-color:aliceblue;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.153) ;

}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;

}


.profile-img{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;

}

.info{

    width: 180px;
    font-family:  sans-serif;
    font-size: 14px;
    color: gray;
    
}


.name{
    font-weight: 180px;
    color: black;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}
/* 
.follow-button{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(52, 133, 247);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
   
} */

p{
    margin: 0px;
}

.follow-button{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(52, 133, 247);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
   

}


.box{
   display: flex;
 
   justify-content: center;
    align-items: center;
    margin-top: 100px;
}
