button{
    background-color: green;
    margin: 5px;
    padding: 14px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.15s;

}
button:active{
    box-shadow: none;
}
