p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.box{

    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 20px;
    

}

.profile{
    width: 200px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.153);
    transition: transform 0.15s;
    margin: 14px;
}

.profile:hover{

    /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.153);
    background-color: rgba(0, 0, 0, 0.028); */

    transform: scale(1.009);

}


.profile-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.name{
    font-weight: bold;
    font-family: 16px;
    margin: 0px 0px 0px 8px;
}

.mutual{

    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
    margin-top: 4px;
}

.mutual-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0px 0px 0px 8px;
}

.mutual-friends{
    color: rgb(96,96,96);
    margin-left: 14px;
    font-size: 14px;
}

button{
    color: white;
    background-color: rgb(0, 106, 255);
    border: none;
    padding: 10px 18px 10px 18px;
    border-radius: 4px;
    font-size: 14px;
    margin: 8px 0px 8px 10px;
    cursor: pointer;
}

button:active{
    background-color: rgb(8, 53, 117);
}