.search{
    font-size: 18px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

}