

.child{
    padding: 40px;
    width: fit-content;
    object-position: center;
    display: block;
    margin-top: 15%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.345);
    transition: box-shadow 0.15s;
    cursor: pointer;
}
.child:active{

     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.345);
}


.email-title{
    margin: 0px;
    color: rgb(96,96,96);

}

.text{
    width: 402px;
    height: 30px;
    margin-top: 8px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    border-color: rgb(39, 36, 36);

}

.agree-title{

    color: rgb(96,96,96);
    margin-top: 20px;
    margin-bottom: 20px;

}

.agree-button{
    background-color: rgb(0, 105, 190);
    width: 402px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 18px;
    padding: 9px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.345);

}
.agree-button:active{

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.345);
    background-color: rgb(9, 73, 125);

}