*{
    font-family: Arial, Helvetica, sans-serif;
}
.item{
    margin: 20px;
    position: relative;
    display: inline-block;
}

.shirt{
    height: 380px;
    background-color: gray;
}

.offer{
    background-color: rgb(152, 13, 13);
    color: white;
    padding: 6px 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.cart{
    height: 100px;
    background-color: rgba(240, 240, 240, 0.274);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
}
.item:hover .cart{
    opacity: 1;
}

button{
    background-color: white;
    border: 1.4px solid;
    padding: 10px 30px;
    font-weight: 500;
    cursor: pointer;

}


button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.18s;

}

button:active{
    background-color: rgba(240, 240, 240, 0.274);
}


*{
    font-family: Arial, Helvetica, sans-serif;
}
.item2{
    position: relative;
    display: inline-block;
}

.shirt2{
    height: 380px;
    background-color: gray;
}

.offer2{
    background-color: black;
    color: white;
    padding: 6px 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.cart2{
    height: 100px;
    background-color: rgba(240, 240, 240, 0.274);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button2{
    background-color: white;
    border: 1.4px solid;
    padding: 10px 30px;
    font-weight: 500;
    cursor: pointer;

}